# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.so

# Environment / Package files
yolov-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log
occupancy_log.csv  # Ignore the CSV log file for occupancy changes

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
